keys/private_key.pem
*.db
__pycache__/
*.pyc
.env
backend/.env
node_modules/
*.h5
*.pt
.venv/
venv/
dist/
build/
*.egg-info/
.DS_Store
reports/*
!reports/.gitkeep

backend/reports/*
!backend/reports/.gitkeep
